.main-category {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 375px;
  flex-direction: column;
  position: relative;
}

.category-list {
  list-style-type: none;
}

.category-link {
  margin-bottom: 20px;
  font-size: 16px;
}

.category-link__underline {
  border: 1px solid #e9e9e9;
  width: 95%;
}

.category-link:last-child {
  margin-bottom: 100px;
}

.category-link:first-child {
  margin-top: 20px;
}

.link:link,
.link:visited,
.link:hover,
.link:active {
  text-decoration: none;
  color: #4a407c;
}

.title-category {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 30px;
  line-height: 1.1;
}

.type-logo-cat {
  width: 23px;
  height: 23px;
  margin-right: 10px;
}

.back {
  width: 43px;
  height: 38px;
  position: absolute;
  top: 2%;
  left: 10%;
}

.back-div {
  margin-bottom: 20px;
}
