.first-page__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.inn-input {
  border: 1px solid #4a407c;
  border-radius: 5px;
  width: 93%;
  height: 61px;
  padding: 0 10px;
}

.btn-next {
  background-color: #4a407c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 296px;
  height: 54px;
  border-radius: 5px;
}

.block-container__type {
  width: 100%;
}

.block-container {
  width: 100%;
}

.block-container:not(:last-child) {
  margin-bottom: 50px;
}
