.range-container {
  padding: 50px 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  max-width: 375px;
  flex-direction: column;
  position: relative;
}

.range {
  width: 90%;
  margin-bottom: 60px;
}

.title-range {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}

.min-max {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  color: #e2dddd;
}

.margin-top {
  margin-top: 20px;
}

.line-height {
  line-height: 1.4;
}

.block-container__form {
  margin-bottom: 20px;
}

.margin-top-big {
  margin-top: 50px;
}

.mt-color{
  color: #EA9D89;
  font-size: 16px;
}
.btn-non{
  background: #BDBACA;
  border-radius: 20px;
}
.span-non{
  color: #4A407C;
  font-size: 16px;
}
.p-non{
  color: #4A407C;
  font-size: 24px;
}
.a-non{
  color: #4A407C;
  font-size: 16px;
  background: #BDBACA;
  border-radius: 20px;
  text-decoration: none;
}
