@import 'reset.css';
@import 'index.css';
@import 'style.css';
@import 'category.css';
@import 'calendar.css';

body {
  font-family: 'Roboto', sans-serif;
  color: #4a407c;
  background-color: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 50px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: 812px;
  max-width: 375px;
  flex-direction: column;
}

input,
select,
textarea {
  color: #4a407c;
}

textarea:focus,
input:focus {
  color: #4a407c;
}
