<h3>Расчет финансовых показателей</h3>
<form action="/finance">
  <label>Выручка<input id="earnings" type="numder" name="earnings"></label>
  <label>₽ в банке<input id="bank" type="numder" name="bank"></label>
  <label>НДС<input id="nds" type="numder" name="nds"></label>
  <label>НП<input id="np" type="numder" name="np"></label>
  <label>Дебиторка<input id="debit" type="numder" name="debit"></label>
  <label>Кредиторка<input id="credit" type="numder" name="credit"></label>
  <label>Кассовый разрыв<input id="cashgap" type="numder" name="cashgap"></label>
  <button>Рассчитать</button>
</form>
