<h3>Расчет финансовых показателей</h3>
<form action="/calculator" method="POST">
  <label>Выручка<input id="earnings" type="text" name="earnings" value="2498000"></label>
  <label>₽ в банке<input id="bank" type="text" name="bank" value="100000"></label>
  <label>НДС<input id="nds" type="text" name="nds" value="325000"><span>13%</span></label>
  <label>НП<input id="np" type="text" name="np" value="120000"><span>4,8%</span></label>
  <label>Дебиторка<input id="debit" type="text" name="debit" value="300000"></label>
  <label>Кредиторка<input id="credit" type="text" name="credit" value="600000"></label>
  <label>Кассовый разрыв<input id="cashgap" type="text" name="cashgap" value="645000"></label>
  <button id="calculate">Рассчитать</button>
</form>
