<div class="main-category">
<div class="back-div">
   <a href="/docs"><img class="back" src="/images/back.png" alt="back"></a>
   </div>
<div>
  <h1>Калькулятор</h1>
  <p>
    Для торгующей компании необходимо принять в штат несколько сотрудников. Рекомендуем Генерального директора,
    менеджера по продажам.
    МРОТ по Москве на сегодня 20 195 рублей
  </p>
  <p>
    С января 2021 года МРОТ повысят до 20 361 рублей. Рекомендуем сразу принять сотрудников на данный оклад.
  </p>
  <form action="/calc" method="POST">
    <input type="text">
    <button>Рассчитать</button>
  </form>
</div>
    </div>
   
