<div class="main">
<div class="back-div-cat-1">
   <a href="/docs"><img class="back" src="/images/back.png" alt="back"></a>
   </div>
<div>
  <div>
    <h3 class="small-title">Для работы с клиентами и поставщиками необходимы:</h3>
    <ul class="list-cat-1">
      <li>Договор</li>
      <li>Товарная накладная</li>
      <li>Счет фактура или УПД.</li>
    </ul>
    <p class="text">Документы необходимо подписать с двух сторон и хранить 5 лет.</p>
  </div>
  <p class="text">Если у вас Розничный магазин, то вам необходима касса. Затраты на приобретение кассы ИП может вычесть из налогов!
  </p>
  <p class="text">Если вы продаете через маркетплейс, то вам&nbsp;необходимо получить ключ для электронного документооборота!</p>
</div>
  <a href="#"><button type="button" class="btn-login">Больше советов</button></a>
</div>
