<div>
  <div>
    <h3>Для работы с клиентами и поставщиками необходимы:</h3>
    <ul>
      <li>Договор</li>
      <li>Товарная накладная</li>
      <li>Счет фактура или УПД.</li>
    </ul>
    <p>Документы необходимо подписать с двух сторон и хранить 5 лет.</p>
  </div>
  <p>Если у вас Розничный магазин, то вам необходима касса. Затраты на приобретение кассы ИП может вычесть из налогов!
  </p>
  <p>Если вы продаете через маркетплейс, то вам необходимо получить ключ для электронного документооборота!</p>
</div>
