<div>
  <h1>Налоговый календарь</h1>
  <div>
    <p>Предварительный расчет по НДС, Налогу на прибыль или УСН 6 и 15 % бухгалтер должен предоставить до 25 декабря.
      Это позволит оптимизировать нагрузку и накопить денег на налоги.
    </p>
  </div>
  <h4>Календарь уплаты налогов за 4 квартал 2020 года</h4>
  <div>
    <table>
      <thead>
        <tr>
          <th>Взносы ИП</th>
          <th>31.12.2020</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>УСН ИП</td>
          <td>30.04.2021</td>
        </tr>
        <tr>
          <td>НДФЛ ИП</td>
          <td>15.07.2021</td>
        </tr>
        <tr>
          <td>УСН ООО</td>
          <td>31.03.2021</td>
        </tr>
        <tr>
          <td>НДС</td>
          <td>25.01.2021</td>
        </tr>
        <tr>
          <td>Налог на прибыль</td>
          <td>29.03.2021</td>
        </tr>
        <tr>
          <td>Транспортный налог</td>
          <td>01.02.2021</td>
        </tr>
        <tr>
          <td>Взносы с ЗП</td>
          <td>15.01.2021</td>
        </tr>
        <tr>
          <td>НДФЛ</td>
          <td>В день выплаты ЗП</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
