<div class="main-risks">
  <div class="back-div-risk">
    <a href="/"><img class="back" src="/images/back.png" alt="back"></a>
  </div>
  <div>
    <div>
      <h3 class="small title risk-title">Налоговые риски и&nbsp;115&nbsp;ФЗ</h3>
      <ul class="ul-risk">
        <li class="li-risk">В вашей отрасли налоговая и банки особенно тщательно проверяют исходящие платежи.</li>
        <li class="li-risk">Рекомендуем открыть два расчетных счета в разных банках, чтобы снизить отслеживание
          платежей.</li>
        <li class="li-risk">Нежелательно платить крупные суммы в адрес физических лиц, самозанятых и ИП в первые три
          месяца работы.</li>
        <li class="li-risk">Положительно на историю компании влияют хозяйственные платежи, связь, интернет, такси,
          закупка канцелярии,
          продуктов и тд.</li>
        <li class="li-risk">Для сделок, свыше 600 000 рублей подписывайте договора до момента поступления или списания
          денег на счет..</li>
        <li class="li-risk">Банк может заморозить выплату до предоставления сканов документов, подтверждающих сделку.
        </li>
        <li class="li-risk">Если у вас есть бизнес-карта, то использовать ее можно только для деятельности ООО и ИП.
        </li>
        <li class="li-risk">Стоит избегать покупки продуктов себе домой...</li>
        <li class="li-risk">Рекомендуем до конца года произвести одну выплату заработной платы и взносов с нее, даже
          если сумма будет 5000
          рублей.</li>
        <li class="li-risk">Рекомендуем приобрести орг. технику для работы.
          Даже если вы единственный сотрудник и работаете на своем ноутбуке, вы можете купить его и поставить на баланс
          организации.</li>
        <li class="li-risk">Эти меры помогут улучшить показатели в годовой отчетности. И компания будет не "нулевой".
        </li>
      </ul>
    </div>
    {{>button}}
  </div>
