<div class="main-category">
<div class="back-div">
   <a href="/docs"><img class="back" src="/images/back.png" alt="back"></a>
   </div>
<div>
<div>
  <h1>Налоговые риски и 115 ФЗ</h1>
  <ul>
    <li>В вашей отрасли налоговая и банки особенно тщательно проверяют исходящие платежи.</li>
    <li>Рекомендуем открыть два расчетных счета в разных банках, чтобы снизить отслеживание платежей.</li>
    <li>Нежелательно платить крупные суммы в адрес физических лиц, самозанятых и ИП в первые три месяца работы.</li>
    <li>Положительно на историю компании влияют хозяйственные платежи, связь, интернет, такси, закупка канцелярии,
      продуктов и тд.</li>
    <li>Для сделок, свыше 600 000 рублей подписывайте договора до момента поступления или списания денег на счет..</li>
    <li>Банк может заморозить выплату до предоставления сканов документов, подтверждающих сделку.</li>
    <li>Если у вас есть бизнес-карта, то использовать ее можно только для деятельности ООО и ИП.</li>
    <li>Стоит избегать покупки продуктов себе домой...</li>
    <li>Рекомендуем до конца года произвести одну выплату заработной платы и взносов с нее, даже если сумма будет 5000
      рублей.</li>
    <li>Рекомендуем приобрести орг. технику для работы.
      Даже если вы единственный сотрудник и работаете на своем ноутбуке, вы можете купить его и поставить на баланс
      организации.</li>
    <li>Эти меры помогут улучшить показатели в годовой отчетности. И компания будет не "нулевой".</li>
  </ul>
</div>
</div>
