<div>
  <h1>Программы для работы</h1>
  <div>
    <p>
      Для ведения налогового учета рекомендуем программу «1С бухгалтерия» версии 3.0. Если бухгалтер не находится в
      офисе, подойдет облачная версия.
    </p>
    <p>
      Для сдачи отчетности необходим ключ ЭЦП на Генерального директора.
    </p>
    <p>Самые доступные сервисы:</p>
    <ul>
      <li>«Контру экстрерн»</li>
      <li>«СБИСС» «Такском»</li>
      <li>«1С отчетность»</li>
    </ul>
  </div>
</div>
