<div class="main-category">
  <div class="back-div">
    <a href="/docs"><img class="back" src="/images/back.png" alt="back"></a>
  </div>
  <div>
    <div>
      <div class="main1">
      <h1 class="title-range">Программы для работы</h1>
      <img class="prog" src="/images/1C_logo.png" alt="1C">
      <img class="prog1" src="/images/logo-kontur1.png" alt="">
      <img class="prog2" src="/images/logo1.png" alt="">
      <img class="prog3" src="/images/sbis.png" alt="">

      </div>




      {{!-- <div>
        <p>
          Для ведения налогового учета рекомендуем программу «1С бухгалтерия» версии 3.0. Если бухгалтер не находится в
          офисе, подойдет облачная версия.
        </p>
        <p>
          Для сдачи отчетности необходим ключ ЭЦП на Генерального директора.
        </p>
        <p>Самые доступные сервисы:</p>
        <ul>
          <li>«Контру экстрерн»</li>
          <li>«СБИСС» «Такском»</li>
          <li>«1С отчетность»</li>
        </ul>
      </div> --}}
    </div>
    {{>button}}
  </div>
