
<h2>Мы  предлагаем для Вас аутсорсинг бухгалтерии</h2>

<p>Средняя стоимость услуг на рынке 7000 р.</p>
{{#if status}}
<a href="#">Штатный сотрудник</a>
{{else}}
<a href="#">Разместить вакансию</a>
<a href="#">Заниматься бухгалтерией самостоятельно</a>
<a href="#">Подобрать специалиста</a>
<a href="#">Далее</a>
{{/if}}
<a class="btn-next" href="#">Пропустить</a>
{{>button}}

