<div>>>>>>>>>>OTVET</div>
<h2>Мы  предлагаем для Вас аутсорсинг бухгалтерии</h2>

<p>Средняя стоимость услуг на рынке 7000 р.</p>

<a href="#">Разместить вакансию</a>
<a href="#">Штатный сотрудник</a>
<a href="#">Заниматься бухгалтерией самостоятельно</a>
<a href="#">Подобрать специалиста</a>
<a href="#">Далее</a>

