<div>>>>>>>>>>OTVET</div>
<h2>Мы  предлагаем для Вас аутсорсинг бухгалтерии</h2>

<p>Средняя стоимость услуг на рынке 7000 р.</p>

<a href="#">Разместить вакансию</a>

<form action="#">
  <button>Штатный сотрудник</button>
</form>
<form action="#">
  <button>Заниматься бухгалтерией самостоятельно</button>
</form>
<form action="#">
  <button>Подобрать специалиста</button>
</form>
