<div class="main-calend">
  <div class="back-div-calend">
    <a href="/docs"><img class="back" src="/images/back.png" alt="back"></a>
  </div>
  <h1 class="title-calend">Календарь отчетности
    для ООО “АВС”</h1>
  <div class="content">
    <div class="calendar-container">
      <div class="calendar">
        <div class="year-header">
          <span class="left-button" id="prev"> &lang; </span>
          <span class="year" id="label"></span>
          <span class="right-button" id="next"> &rang; </span>
        </div>
        <ul class="months-table">
          <li class="month">Янв</li>
          <li class="month">Фев</li>
          <li class="month">Мар</li>
          <li class="month">Апр</li>
          <li class="month">Май</li>
          <li class="month">Июн</li>
          <li class="month">Июл</li>
          <li class="month">Авг</li>
          <li class="month">Сен</li>
          <li class="month">Окт</li>
          <li class="month">Ноя</li>
          <li class="month">Дек</li>
        </ul>

        <table class="days-table">
          <td class="day">Вос</td>
          <td class="day">Пон</td>
          <td class="day">Втр</td>
          <td class="day">Сре</td>
          <td class="day">Чтв</td>
          <td class="day">Пят</td>
          <td class="day">Суб</td>
        </table>
        <div class="frame">
          <table class="dates-table">
            <tbody class="tbody">
            </tbody>
          </table>
        </div>
        <button class="button" id="add-button">Добавить событие</button>
      </div>
    </div>
    <div class="events-container">
    </div>
    <div class="dialog" id="dialog">
      <h2 class="dialog-header">Добавить событие</h2>
      <form class="form" id="form">
        <div class="form-container" align="center">
          <label class="form-label" id="valueFromMyButton" for="name">Событие</label>
          <input class="input" type="text" id="name" maxlength="36">
          {{!-- <label class="form-label" id="valueFromMyButton" for="count">Сколько человек участвует</label>
          <input class="input" type="number" id="count" min="0" max="1000000" maxlength="7"> --}}
          <input type="button" value="Назад" class="button" id="cancel-button">
          <input type="button" value="OK" class="button" id="ok-button">
        </div>
      </form>
    </div>
  </div>
  {{>button}}
</div>
