<h2>Введите свой email, для получение подробной информации</h2>
<form action="/contact/basecontact" method="POST">
  <input type="email" name="email" placeholder="email">
  <button>Отправить</button>
</form>
