<div class="main">
  <div class="back-div-email">
    <a href="/"><img class="back-email" src="/images/back.png" alt="back"></a>
    <a href="/" class="email-link"><span class="email-back">Главна страница</span></a>
  </div>
<h1 class="title email-title">Введите свой e-mail, для получение подробной информации</h1>
<form class="email-form" action="/contact/basecontact" method="POST">
  <input class="form-control" type="email" name="email" placeholder="e-mail">
  <button class="btn-login margin-top">Отправить</button>
</form>
</div>

