<div class="main-category">
  <h1 class="title-category">Ознакомьтесь с полезной для&nbsp;вас информацией</h1>
  <ul class="category-list">
    <li class="category-link">
      <a href="#" class="link">Документы и правила работы</a>
      <hr class="category-link__underline" />
    </li>
    <li class="category-link">
      <a href="/docs/calc" class="link">Калькулятор расчета зарплаты</a>
      <hr class="category-link__underline" />
    </li>
    <li class="category-link">
      <a href="#" class="link">Налоговый календарь</a>
      <hr class="category-link__underline" />
    </li>
    <li class="category-link">
      <a href="#" class="link">Программы для работы</a>
      <hr class="category-link__underline" />
    </li>
    <li class="category-link">
      <a href="#" class="link">Налоговые риски</a>
      <hr class="category-link__underline" />
    </li>
  </ul>
  <a href="/calendar"><button type="button" class="btn-next">Далее</button></a>

</div>
