<div class="main-category">
  <div class="back-div">
    <a href="/"><img class="back" src="/images/back.png" alt="back"></a>
  </div>
  <h1 class="title-category">Ознакомьтесь с полезной для&nbsp;вас информацией</h1>
  <ul class="category-list">
    <li class="category-link">
      <img class="type-logo-cat" src="/images/folder-opened.png" alt="cart">
      <a href="/docs/doc" class="link">Документы и правила работы</a>
      <hr class="category-link__underline" />
    </li>
    <li class="category-link">
      <img class="type-logo-cat" src="/images/calculator.png" alt="cart">
      <a href="/docs/calc" class="link">Калькулятор расчета зарплаты</a>
      <hr class="category-link__underline" />
    </li>
    <li class="category-link">
      <img class="type-logo-cat" src="/images/calendar.png" alt="cart">
      <a href="/docs/nalogcalendar" class="link">Налоговый календарь</a>
      <hr class="category-link__underline" />
    </li>
    <li class="category-link">
      <img class="type-logo-cat" src="/images/monitor.png" alt="cart">
      <a href="/docs/workflow" class="link">Программы для работы</a>
      <hr class="category-link__underline" />
    </li>
    <li class="category-link">
      <img class="type-logo-cat" src="/images/abacus.png" alt="cart">
      <a href="/docs/risk" class="link">Налоговые риски</a>
      <hr class="category-link__underline" />
    </li>
  </ul>
  <a href="/calendar"><button type="button" class="btn-next">Далее</button></a>

</div>
