<div class="main">
      <form class="first-page__form" method="POST" action="/status">
        <div class="block-container__type">
          <h1 class="title">Ваша отрасль</h1>
          <div class="choose-business__type">
            <div id="choose-company__btn--type">
              <label>
                <input
                  type="checkbox"
                  value="trade"
                  name="group1[]"
                  checked="checked"
                /><span class="choose-company__type">Торгующая компания</span>
              </label>
            </div>
            <div id="choose-company__btn--type">
              <label>
                <input type="checkbox" value="restoran" name="group1[]" /><span
                  class="choose-company__type"
                  >Ресторан</span
                >
              </label>
            </div>
            <div id="choose-company__btn--type">
              <label>
                <input type="checkbox" value="build" name="group1[]" /><span
                  class="choose-company__type"
                  >Строительная компания</span
                >
              </label>
            </div>
            <div id="choose-company__btn--type">
              <label>
                <input type="checkbox" value="services" name="group1[]" /><span
                  class="choose-company__type"
                  >Услуги</span
                >
              </label>
            </div>
          </div>
        </div>

        <div class="block-container">
          <div class="inn">
            <h1 class="title">ИНН компании</h1>
            <input
              name="inn"
              type="text"
              class="inn-input"
              placeholder="Поле ввода ИНН"
            />
          </div>
        </div>

        <div class="block-container">
          <h1 class="title">Ваша отрасль</h1>
          <div class="choose-business__role">
            <div id="choose-company__btn--type" class="role">
              <label>
                <input
                  type="checkbox"
                  value="IP"
                  name="group2[]"
                  checked="checked"
                /><span class="choose-company__type">ИП</span>
              </label>
            </div>
            <div id="choose-company__btn--type" class="role">
              <label>
                <input type="checkbox" value="OOO" name="group2[]" /><span
                  class="choose-company__type"
                  >ООО</span
                >
              </label>
            </div>
          </div>
        </div>
        <button class="btn-next">Далее</button>
      </form>
    </div>
