<div class="main">
  <img class="main-logo" src="/images/nds365.png" alt="logo">
  <p class="text-thx">Спасибо за проявленный интерес, в&nbsp;ближайшее время наш специалист с&nbsp;вами свяжется!</p>
<a href="/"><button class="btn-next">На главную</button></a>
</div>

